page-pantry {
	button.item ion-badge {
		&.empty {
			background-color: color($colors, danger);
		}
		&.low {
			background-color: #ffd500;
		}
		&.normal {
			background-color: #488aff
		}
	}
}

.popover-md .popover-content {
	bottom: auto !important;
}
