<ion-header>
    <ion-navbar>
        <ion-title>My Pantry</ion-title>
        <button ion-button icon-only float-end (click)="addToPantry()">
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-item-group *ngFor="let data of displayArray">-->
        <!--<ion-item-divider color="light">{{data.category}}</ion-item-divider>-->
        <!--<ion-item *ngFor="let item of data.items">-->
            <!--{{item.name}}-->
            <!--<ion-badge item-end>{{item.qty}}</ion-badge>-->
        <!--</ion-item>-->
    <!--</ion-item-group>-->

  <ion-list>
    <button ion-item *ngFor="let item of displayItems">
      <ion-thumbnail item-start>
        <img src="{{item.thumbnail_image_url}}"/>
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <ion-badge item-end>{{item.qty}}</ion-badge>
    </button>
  </ion-list>


    <!--<ion-card *ngFor="let data of displayArray">-->
    <!--<ion-card-header>{{data.category}}</ion-card-header>-->
    <!--<ion-card-content>-->
    <!--<ion-list>-->
    <!--<div ion-item *ngFor="let item of data.items">-->
    <!--{{item.name}} {{item.qty}}-->
    <!--</div><br/>-->
    <!--</ion-list>-->
    <!--</ion-card-content>-->
    <!--</ion-card>-->

</ion-content>
