<ion-header>
    <ion-navbar>
        <ion-title>Adding to pantry...</ion-title>
        <button ion-button icon-only float-end (click)="add()">
            <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button icon-only float-end (click)="scan()">
            <ion-icon name="barcode"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list ion-grid>
        <ion-row *ngFor="let item of items">
            <ion-col>
                {{item.item.name}}
            </ion-col>

            <ion-col col-2>
                {{displayCounts[item.item.upca]}}
            </ion-col>

            <ion-col col-2>
                <button ion-button icon-only clear (click)="alert(item.item.upca)">
                    <ion-icon name="trash" color="danger"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-list>
    <button ion-button *ngIf="items.length > 0" (click)="save()">Add to Pantry</button>
</ion-content>
