<ion-header>
    <ion-navbar>
        <ion-title>Adding to pantry...</ion-title>
        <button ion-button icon-only float-end (click)="add()">
            <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button icon-only float-end (click)="scan()">
            <ion-icon name="barcode"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list ion-grid>
        <ion-row *ngFor="let item of items">
            <ion-col>
                {{item.item.name}}
            </ion-col>

            <ion-col col-3>
                <ion-icon name="remove" (click)="changeNum('-', item.item)"></ion-icon>
                <ion-input type="number" class="input-sm" [(ngModel)]="item.item.qty" name="qty"></ion-input>
                <ion-icon name="add" (click)="changeNum('+', item.item)"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-list>
    <button ion-button *ngIf="items.length > 0" (click)="save()">Add to Pantry</button>
</ion-content>
